@import "../../utility/css/sizing";
@import "../../utility/css/colors";

.stack-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 50px;

  &:hover {
    .view-all-text {
      opacity: 1;
    }
  }
}

a {
  text-decoration: none;
}

.stack-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-align: left;
  padding: 20px $stack-side-width;
  margin: 0;
  font-size: 1.5em;
  color: white;

  .view-all-text {
    color: $primary-color;
    cursor: pointer;
    font-size: 0.7em;
    font-weight: bold;
    margin-left: 20px;
    opacity: 0;
    transform: scale(1);
    transition: opacity 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.stack {
  position: relative;
  .grid {
    display: block;
    padding: 0 $stack-side-width;
    width: 100%;
    white-space: nowrap;
    text-align: left;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@mixin arrow {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.137);
  top: 0;
  width: $stack-side-width;
  height: 100%;
  transition: background-color ease-in 0.1s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.411);
  }
}

.right-arrow {
  @include arrow;
  right: 0;
}

.left-arrow {
  @include arrow;
  left: 0;
}
